<h1>Frined</h1>
<h3>My Friend List</h3>
<table>
  <tr>
    <th>First-name</th>
    <th>Last-name</th>
    <th>Nike-Name</th>
    <th>GitHub Pages</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <a href="" class="git">Lab002</a>
      <a href="" class="git">Lab003</a>
      <a href="" class="git">Lab004</a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <a href="" class="git">Lab002</a>
      <a href="" class="git">Lab003</a>
      <a href="" class="git">Lab004</a>
    </td>
  </tr>
</table>
